In [1]:
print('hello')

hello

In [2]:
a=input('enter first name')
b=input('enter last name')
print(a+b)

ramraj

In [3]:
a=input('enter first name')
b=input('enter last name')
print(a,b)

ram raj

In [4]:
a=input('5')
b=input('6')
print(a+b)

56

In [5]:
a=int('5')
b=int('6')
print(a+b)

11

In [6]:
firstname=input('enter first name')
lastname=input('enter last name')

In [7]:
firstname

'ram'

In [8]:
lastname

'raj'

In [10]:
x=10
name=('varun')

In [11]:
x

10

In [12]:
name

'varun'

In [15]:
number1=input('enter number1')
number2=input('enter number2')
total=number1+number2
print(total)

55

In [16]:
name='varun'
company='variablz'

In [17]:
name

'varun'

In [18]:
company

'variablz'

In [19]:
print('''this is my pen''')

this is my pen

In [21]:
print('''this is my pen\nthis is also my bag''')

this is my pen
this is also my bag

In [22]:
print('''this is my bag\tthis is also pen''')

this is my bag	this is also pen

In [23]:
x=10
print(x)

10

In [24]:
x

10

In [26]:
5+6

11

In [1]:
x=7.9+9

In [2]:
x

16.9

In [3]:
x=.9
y=.3
z=x+y
print(z)

1.2

In [4]:
round(z,2)

1.2

In [5]:
x=10
x=int(x)
x

10

In [6]:
x+5

15

In [7]:
x=10
x=float(x)
x

10.0

In [8]:
x+6

16.0

In [12]:
x=input('enter number 1')
y=input('enter number 2')
z=x+y
print(z)

1052

In [13]:
x=input('enter number 1')
y=input('enter number 2')
z=int(x)+int(y)
print(z)

27

In [14]:
price=10
qty=input('apple')
qty=int(qty)

In [16]:
output=f' apple ={qty}\n apple price={price}\n total no.of apple={price*qty}'
print(output)

 apple =2
 apple price=10
 total no.of apple=20

In [25]:
name='varun'
age=18
height=179
output="Name:{}, Age:{}, Height:{}".format(name,age,height)
print(output)

Name:varun, Age:18, Height:179

In [26]:
married=True
married

True

In [28]:
x=False
x

False

In [31]:
x=None
x

In [32]:
x=''
x

''

In [34]:
x=0
x

0

In [35]:
x=False
x

False

In [36]:
type(.9)

float

In [37]:
type(9)

int

In [38]:
type("9")

str

In [39]:
type(True)

bool

In [40]:
type(None)

NoneType

In [41]:
income=500
expense=50

In [43]:
profit=(income-expense)
print(profit)

450

In [46]:
price=20
qty=2
totalprice=(price*qty)
print(totalprice)

40

In [47]:
total_student=200
section=10

In [48]:
section_pre_student=(total_student / section)
print(section_pre_student)

20.0

In [49]:
section=(total_student//section)
print(section)

20

In [51]:
square=2**2
print(square)

4

In [52]:
cube=3**2
print(cube)

9

In [53]:
value=2*(9-8)*5
print(value)

10

In [54]:
tam=80
eng=80
math=80
sci=80
soc=80
total=(tam+eng+math+sci+soc)
print(total)

400

In [55]:
value=2*(9-9)*5
print(value)

0

In [56]:
value=2*1-1*+2*5
print(value)

-8

In [57]:
vaule=10
exponent=10
print(value+exponent)

2

In [1]:
import math

In [2]:
math.factorial(5)

120

In [4]:
math.sqrt(25)

5.0

In [5]:
math.pi

3.141592653589793

In [6]:
math.e

2.718281828459045

In [7]:
degree=30

In [8]:
radians=math.radians(degree)
radians

0.5235987755982988

In [9]:
math.sin(degree)

-0.9880316240928618

In [10]:
math.cos(degree)

0.15425144988758405

In [11]:
math.tan(degree)

-6.405331196646276

In [12]:
circle=50
radius=34
price=100
pi=3.14
area=pi*radius**2
total_area=area*circle
total_area_1=total_area*price
total_area_1

18149200.0

In [13]:
circle=50
radius=34
price=100
pi=math.pi
area=pi*radius**2
total_area=area*circle
total_area_1=total_area*price
total_area_1

18158405.537749004

In [14]:
x=5
y=5
x==y

True

In [15]:
x=5
y=6
x==y

False

In [16]:
x!=y

True

In [18]:
word='Apple'

In [21]:
'A' in word

True

In [24]:
'v' in 'varun'

True

In [26]:
agreed=input('Do you agree for terms? Yes or No:')

In [27]:
if agreed=="Yes":
    print('user agree for terms')

In [28]:
if agreed:
    print('user agreed for terms')

user agreed for terms

In [31]:
age=input('enter your Age')
age=int(age)
age

16

In [32]:
if age<10:
    print('refer cartoon movies')
else:
    print('refer horror movies')

refer horror movies

In [42]:
age= input('enter your age')
age=int(age)
age

17

In [43]:
if age>=18:
    print('allow for election')
else:
    print('Not allow for election')

Not allow for election

In [37]:
age=input('enter your age')
age=int(age)
age

10

In [38]:
print('cartoon') if age<=10 else print(horror)

cartoon

In [47]:
state=input('enter state:')

In [48]:
if state=='Tamil nadu':
    print('tamil movies')
elif state== 'karnataka':
    print('kannada movies')
elif state=='delhi':
    print('hindi movies')
else:
    print('english movies')

tamil movies

In [56]:
year=input('ente year')
year=int(year)
year

2024

In [57]:
print('leap year') if year%4==0 else print('non leap year')

leap year

In [9]:
state=input('enter your state')

In [10]:
match state:
    case'tamil nadu':
        print('recommend tamil movies')
    case 'delhi':
        print('recommend hindi movies')
    case _:
        print('recommend english movies')

recommend tamil movies

In [16]:
idle=input('how it is today"s idle ?good or bad')
chutney=input('how it is today "s chutney? good or bad')
print(idle,chutney)

good bad

In [17]:
if idle=='good' and chutney=='good':
    print('today breakfast was good')
else:
    print('today breakfast was bad')

today breakfast was bad

In [23]:
lottery1=input('have you won? yes or no')
lottery2=input('have you won? yes or no')
print(lottery1,lottery2)

yes  no

In [24]:
if lottery1=='yes' and lottery2=='yes':
    print('happy customer')
else:
    print('sad customer')

sad customer

In [26]:
books=['tam','end','sci','soc','math']
books

['tam', 'end', 'sci', 'soc', 'math']

In [27]:
numbers=[1,2,3,4,5,6]
numbers

[1, 2, 3, 4, 5, 6]

In [28]:
person=['varun',18,8015306375]
person

['varun', 18, 8015306375]

In [29]:
books=[]
books

[]

In [46]:
books.append('tam')
books.append('eng')
books.append('math')
books.append('sci')
books.append('soc')
books

['math',
 'sci',
 'soc',
 'math',
 'sci',
 'soc',
 'eng',
 'math',
 'sci',
 'soc',
 'tam',
 'eng',
 'math',
 'sci',
 'soc',
 'tam',
 'eng',
 'math',
 'sci',
 'soc',
 'tam',
 'eng',
 'math',
 'sci',
 'soc']

In [42]:
books.remove('tam')
books.remove('eng')
books

['math', 'sci', 'soc', 'math', 'sci', 'soc', 'eng', 'math', 'sci', 'soc']

In [48]:
books.clear()
books

[]

In [52]:
books=['tam','eng','math']
books

['tam', 'eng', 'math']

In [56]:
books[0]

'tam'

In [57]:
books[2]

'math'

In [58]:
books.insert(1,'sci')
books

['tam', 'sci', 'eng', 'math']

In [59]:
books[1]='tam'
books

['tam', 'tam', 'eng', 'math']

In [60]:
'tam' in books

True

In [61]:
'soc'in books

False

In [62]:
len('varun')

5

In [69]:
class_a=['arun','varun','ram','ravi']
class_b=['pooja','priya','renu']
school=[class_a,class_b]

In [70]:
school

[['arun', 'varun', 'ram', 'ravi'], ['pooja', 'priya', 'renu']]

In [90]:
a=int(input('enter a value'))
b=int(input('enter b value'))
c=int(input('enter choice'))

In [94]:
match the choice
case 1:
    print('a+b is'+(a+b))
case 2:
    print('a-b is'+(a-b))
case 3:
    print('a/b is'(a/b))
case _:
    print('no more operation')

SyntaxError: invalid syntax (3619691844.py, line 1)

In [1]:
a=(10,20,30,40)
a

[10, 20, 30, 40]

In [2]:
a.index(10)

0

In [3]:
a.pop()

40

In [4]:
a

[10, 20, 30]

In [29]:
a=('apple',('red_apple','green_apple'))

In [30]:
a[1][0]

'red_apple'

In [23]:
a[0]

'apple'

In [26]:
a[2],b[0]

('green_apple', 'orange')

In [1]:
student={}

In [2]:
student[1234]='varun'
student[12345]='arun'
student[123456]='surya'

In [3]:
student

{1234: 'varun', 12345: 'arun', 123456: 'surya'}

In [4]:
student.pop(1234)

'varun'

In [5]:
student[12345]

'arun'

In [6]:
student[1234567]='mani'

In [7]:
student

{12345: 'arun', 123456: 'surya', 1234567: 'mani'}

In [9]:
student.keys()

dict_keys([12345, 123456, 1234567])

In [10]:
student.values()

dict_values(['arun', 'surya', 'mani'])

In [12]:
12345 in student

True

In [13]:
1234 in student.keys()

False

In [14]:
len(student)

3

In [ ]:
i=10
while i>=1:
    print(i)
    i=i+1

In [1]:
course=['c','c++','java','sql']
course

['c', 'c++', 'java', 'sql']

In [4]:
for result in course :
    print(result, end=',')

c,c++,java,sql,

In [17]:
a=[1,2,3,4]
b=[5,6,7,8]

In [29]:
for i in a:
    for j in b:
        print(i+j,end=',')
    print()

6,7,8,9,
7,8,9,10,
8,9,10,11,
9,10,11,12,

In [38]:
for i in range(0,5):
    for j in range(0,i):
        print('*',end='')
    print()

*
**
***
****

In [3]:
sentence = 'my name is varun!'

In [5]:
for item in sentence:
    print(item)

m
y

n
a
m
e

i
s

v
a
r
u
n
!

In [10]:
number= range(1,10,3)
number

range(1, 10, 3)

In [11]:
for result in number:
    print(result)

1
4
7

In [12]:
shop1=['phone','case','temper','charger']
shop2=['apple','orange','pineapple']
shop3=['pant','shit','t-shit']
shop=[shop1,shop2,shop3]

In [15]:
i=0
while i<len(shop):
    j=0
    while j<len(shop[i]):
        print(shop[i][j])
        j+=1
    i+=+1

phone
case
temper
charger
apple
orange
pineapple
pant
shit
t-shit

In [17]:
for item in shop:
    for item in item:
        print(item)

phone
case
temper
charger
apple
orange
pineapple
pant
shit
t-shit

In [46]:
drinks=['pepsi','coke','7up','bovanta']

In [47]:
i=0
while 1<len(drinks):
    print(drinks[i])
    if drinks[i]=='coke':
        print('coke is available')
        break
    i+=1

pepsi
coke
coke is available

In [49]:
for item in drinks:
    print(item)
    if drinks =='coke':
        print('coke is available')
        break

pepsi
coke
7up
bovanta

In [15]:
a=['7up','coke','sprit','pepsi','bovanta']

In [17]:
count=0
while count<len(a):
    if a[i]=='coke':
        count+=1
        continue
    print(f'buy {a[count]}')
    count+=1

buy 7up
buy coke
buy sprit
buy pepsi
buy bovanta

In [22]:
for item in a:
     print(item)
        print(f'buy{a[a]}')

TypeError: list indices must be integers or slices, not list

In [14]:
list=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]

In [21]:
i=0
while i<len(list):
    if(list[i]==5):
        break

    else:
        print(list[i])
        i+=1

1
2
3
4

In [6]:
books=['tamil','english','social']

In [8]:
i=0
while i<len(books):
    if books[i]=='science':
        print('tamil book is available')
    i+=1
else:
    print('it is not available')

it is not available

In [4]:
books=['tamil','english','social']

for result in books:
    if books=='science':
        print('found')
        
    else:

        print('not found')

not found
not found
not found

In [7]:
if age<30:
    print('youngster')

NameError: name 'age' is not defined

In [8]:
try:
    if age<30:
        print('youngster')
except:
    print('error occur')
finally:
    print('operation done')

error occur
operation done

In [9]:
try:
    if age<30:
        print('youngster')
except:
    print('name is not defined')
finally:
    print('other error')

name is not defined
other error

In [4]:
age=input('enter your value')
try:
    if age<30:
        print('youngster')
except NameError:
    print('name is not defined')
except TypeError:
    print('type not valid')
except:
    print('other error')

type not valid

In [6]:
age=input('enter your value')
try:
    if age<30:
        print('youngster')
except NameError:
    print('name is not defined')
except Exception as ex:
    print(f'other error\n {ex}')

other error
 '<' not supported between instances of 'str' and 'int'

In [13]:
a=input('enter your name')

In [14]:
a1=a[::-1]
if (a==a1):
    print('palindrome')
else:
    print('it is not palindrome')

palindrome

In [37]:
for i in range(1,10,1):
    for j in range(1,i,1):
        print((j),end='')
    print()

1
12
123
1234
12345
123456
1234567
12345678

In [12]:
file=open('varun_file.txt','w')
file.write('''hi\nhard word never fails\nthanking you...''')
file.close()

In [13]:
file=open('varun_1.csv','x')

In [15]:
file=open('varun_1.csv','w')
file.write('''1.python,6000\n2.sql,6000\n3.java,6000''')
file.close()

In [18]:
file=open('varun_1.csv','a')
file.write('''\nhow are you''')
file.close()

In [20]:
file=open('varun_file.txt','a')
file.write('''\ni want to change the file name''')
file.close()

In [9]:
file=open('varun_file.txt','r')
a=file.readline()
print(a)
file.close()

hi

In [8]:
file=open('varun_1.csv','r')
a=file.readline()
print(a)
file.close()

1.python,6000

In [11]:
file_name='varun.txt'

In [12]:
with open('varun','w') as file:
    file.write('''hi\nhow are you''')

In [13]:
import os

In [17]:
if os.path.exists('varun_file.txt'):
    print('file exists')
else:
    print('file does not have')

file exists

In [18]:
if os.path.exists('varun.txt'):
    os.remove('varun.txt')
    print('file is delected succussfully')
else:
    print('file does not exists')

file does not exists

In [21]:
length=50
width=50
area= length*width
print(area)

2500

In [22]:
def cal_area():
    length=50
    width=50
    area=length*width
    print(area)

In [25]:
cal_area()

2500

In [26]:
length=50
width=50
area=length*width
def cal_area1():
    print(area)

In [28]:
cal_area1()

2500

In [29]:
def cal_area(length,width):
    area=length*width
    print(area)

In [31]:
cal_area(50,50)
cal_area(50,10)

2500
500

In [32]:
def cal_area(length,width):
    area=length*width
    return area

In [41]:
a=cal_area(10,10)
b=cal_area(20,20)
c=a+b
print(c)

500

In [49]:
def add_user(name,mailid,number,age=18):
    user={
        'firstname':name,
        'mailid':mailid,
        'number':number,
        'age':age   
        }
    return user

In [50]:
add_user('varun','varunev2005@gmail.com',8015306375)

{'firstname': 'varun',
 'mailid': 'varunev2005@gmail.com',
 'number': 8015306375,
 'age': 18}

In [51]:
add_user('arun','arun@123gtmail.com',185726948,17)

{'firstname': 'arun',
 'mailid': 'arun@123gtmail.com',
 'number': 185726948,
 'age': 17}

In [91]:
def stu_info():
    name='varun',
    std='10th',
    sec='a',
    tam=72
    eng=84
    math=59
    sci=74
    soc=96
    mark=tam+eng+math+soc+sci
    average=mark/5
    print(name,std,sec,mark,average)

In [92]:
stu_info()

('varun',) ('10th',) ('a',) 385 77.0